.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  //min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 1em;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.social_item {
  //background: #3B5998;
  color: white;
}

.fa-linkedin-simple {
  background: #3B5998;
  color: red;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
}

.wrapper > * {
  grid-column: col-start / span 12;
}

.menu_item {
  padding: 20px;
  text-align: center;
}

#social_bar {
  padding-bottom: 15px;
}

#menu_bar ul {
  margin-top: 0;
}

#menu_bar a:hover {
  font-size: 120%;
  background:rgba(255,255,255, 0.1);
}

#about {
  background: #3f445a;
}

#skill {
  background: #495069;
}

#experience {
  background: #363b4e;
}

#project {
  background: #3f445a;
}

#project_footer {
  text-align: center;
  padding-top: 40px;
  margin: 15px;
}

#project_footer a {
  font-size: 120%;
  text-decoration: underline;
}

#project_footer a:hover{
  color: #a496e8;
}

.page {
  padding: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  min-height: 20vh;
}

.title {
  text-align: center;
  letter-spacing: 5px;
  font-size: 2em;
  font-weight: bold;
}

.job {
  position: relative; 
  padding: 15px;
}

.job_title {
  letter-spacing: 5px;
  font-size: 1.6em;
}

.project_title {
  letter-spacing: 5px;
  font-size: 1.6em;
}

.job_date {
  font-size: 80%;
}

.project_icons {
  text-align: center;
}

@media (max-width: 700px) {
  .content {
    padding-top: 30px;
  }

  .menu_item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
  }
  
  a {
    font-size: 120%;
  }

  .job_desc {
    text-align: left;
  }
}


@media (min-width: 700px) {
  .main_nav {
    grid-column: col-start / span 12;
    grid-row: 1;
  }

  .job_title {
      line-height: 70%;
  }

  .content {
    position: relative;
    margin: auto;
    margin-top: 40px;
    width: 80%;
    text-align: left;
    font-size: 1.2em;
  }
}
